@font-face {
  font-family: PoppinsRegular;
  src: url(./fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: AutographyRegular;
  src: url(./fonts/Autography.otf);
}
@font-face {
  font-family: PoppinsMedium;
  src: url(./fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: PoppinsBold;
  src: url(./fonts/Poppins-Bold.ttf);
}
.poppins-regular {
  font-family: PoppinsRegular !important;
}

.poppins-medium {
  font-family: PoppinsMedium !important;
}

.poppins-bold {
  font-family: PoppinsBold !important;
}

.autography {
  font-family: AutographyRegular !important;
}

.white-pattern-bg {
  background-image: url(./assets/secondSectionBg.png);
  height: 4400px;
  width: 100%;
  margin-top: 21%;
}

.material-textfield {
  position: relative;
  padding-bottom: 10px;
}

input {
  font-size: 1rem;
  outline: none;
  border: 1px solid #2d424a;
  padding: 1rem 0.7rem;
  color: #2d424a;
  transition: 0.1s ease-out;
  width: 484px;
}
textarea {
  font-size: 1rem;
  outline: none;
  border: 1px solid #2d424a;
  padding: 1rem 0.7rem;
  color: #2d424a;
  transition: 0.1s ease-out;
  width: 484px;
}
input:focus {
  border-color: #2d424a;
}
textarea::-webkit-input-placeholder {
  color: #c4c4c4;
  font-family: PoppinsRegular;
}
::placeholder { 
  color: #c4c4c4;
  font-family: PoppinsRegular;
}

@media screen and (max-width: 480px) {
  .white-pattern-bg {
    height: 3720px;
  }
  input {
    width: 250px;
  }
  textarea {
    width: 250px;
  }
}
