@font-face {
  font-family: PoppinsRegular;
  src: url(./fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: AutographyRegular;
  src: url(./fonts/Autography.otf);
}
@font-face {
  font-family: PoppinsMedium;
  src: url(./fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: PoppinsBold;
  src: url(./fonts/Poppins-Bold.ttf);
}
.poppins-regular {
  font-family: PoppinsRegular !important;
}

.poppins-medium {
  font-family: PoppinsMedium !important;
}

.poppins-bold {
  font-family: PoppinsBold !important;
}

.autography {
  font-family: AutographyRegular !important;
}

.white-pattern-bg {
  background-image: url(./assets/secondSectionBg.png);
  /* background-size: 100% 100%; */
  height: 4400px;
  width: 100%;
  /* background-repeat: no-repeat; */
  margin-top: 23%;
}